
## Numbers

In [2]:
2+2

4

In [3]:
2.5 * 2

5.0

In [4]:
2.5 ** 3

15.625

for more mathematical functions we can use "math module"

In [5]:
import math 
math.pi

3.141592653589793

In [6]:
math.sqrt(91)

9.539392014169456

## String data type

* A string is a sequence of characters
* A string is defined in python using quotes 'hello' or "hello"
* We can add two strings using + operator
* A string can contain numbers but remains string

A string is stored in memory just like list but are immutable

In [3]:
name = 'swatesh'

In [2]:
name[0]

's'

In [3]:
name[10]

IndexError: string index out of range

In [33]:
len(name)

7

In [35]:
name[-1]

'h'

In [36]:
name[1:4] # not include the 4

'wat'

In [37]:
name[:5]

'swate'

In [3]:
name[2:]

'atesh'

In [39]:
name + ' kumar'

'swatesh kumar'

In [2]:
name

NameError: name 'name' is not defined

In [41]:
name * 4

'swateshswateshswateshswatesh'

Strings are immutable (in python there is no concept like constants and the immutable ) numbers are also immutable

In [42]:
name[0] = 'p'

TypeError: 'str' object does not support item assignment

In [15]:
name.find('s')

0

In [44]:
name.replace('s' , 't')

'twateth'

In [45]:
name

'swatesh'

In [4]:
name = 'swatesh,kumar ambast'

In [5]:
name

'swatesh,kumar ambast'

In [6]:
name.split(',')

['swatesh', 'kumar ambast']

In [49]:
name.split('a')

['sw', 'tesh kum', 'r ', 'mb', 'st']

In [50]:
name.upper()

'SWATESH KUMAR AMBAST'

In [52]:
name = '        s        '

In [53]:
name

'        s        '

In [54]:

name.strip()

's'

In [55]:
name

'        s        '

In [56]:
name.lstrip()

's        '

In [57]:
name.rstrip()

'        s'

In [58]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [60]:
type(name)

str

In [61]:
name.startswith('s')

False

In [62]:
name = 'swatesh'
name.startswith('s')

True

In [44]:
str1 = 'swatesh'
's' in 'str1'

True

## we can iterate through the string

In [4]:
for alpha in name:
    print(alpha)

s
w
a
t
e
s
h

In [ ]:
python string follows unicode that means a single string can store english or zapanese or any other language

In [7]:
x = 0
while True:
    alpha = name[x]
    if alpha == None:
        break
    else: 
        print(alpha)
        x = x+1

s
w
a
t
e
s
h

IndexError: string index out of range

# list

The variables in python can only contains a single value so in order to manage a collection of data we need use
list in python.
A list allow us to put multiple value in a single variable and it is dynamic in nature
and can store any type of object like string number etc

In [21]:
list1 = [ 123 , 'swatesh' , 23.03]  # a string constant

In [8]:
list1

[123, 'swatesh', 23.03]

In [17]:
print(list1[0]);print(list1[1])

123
swatesh

In [18]:
len(list1)

3

In [9]:
# in and not in

'swatesh' in list1

True

In [10]:
'swatesh' not in list1

False

In [11]:
list1=[1,8,3,2,5]
list1.sort()
list1

[1, 2, 3, 5, 8]

In [26]:
sum(list1)

19

we can split the strings and create a list

In [29]:
name = 'swatesh kumar ambast'
list1 = name.split()
list1

['swatesh', 'kumar', 'ambast']

In [30]:
name = 'swatesh.kumar.ambast'  # splitting with delimeter
list1 = name.split('.')
list1

['swatesh', 'kumar', 'ambast']

### iterating in list

In [11]:
for item in list1:
    print(item)

123
swatesh
23.03

In [22]:
list2 = [123, list1, 'abc'] # list can hold another lists

In [23]:
list2

[123, [123, 'swatesh', 23.03], 'abc']

In [24]:
list2[0] = 12345 # list are mutable

In [25]:
list2

[12345, [123, 'swatesh', 23.03], 'abc']

In [26]:
list2 + [1,2,3]

[12345, [123, 'swatesh', 23.03], 'abc', 1, 2, 3]

In [19]:
list2[:]

'abc'

type specific operations

In [27]:
list2.append('abcsdds') # add values to the end of the list

In [28]:
list2

[12345, [123, 'swatesh', 23.03], 'abc', 'abcsdds']

In [19]:
list2.pop() # deletes the end entity

'abcsdds'

In [20]:
list2

[12345, [123, 'swatesh', 23.03], 'abc']

In [30]:
list3 = list(range(6))

In [31]:
list3

[0, 1, 2, 3, 4, 5]

In [24]:
print(range(5))

range(0, 5)

### method in list

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Dictionary

dictionary is the collection of the key value pairs

In [33]:
bag = {'money': 1000 , 'lipstick' : 'pink'} #dictinory literal

In [34]:
bag

{'money': 1000, 'lipstick': 'pink'}

In [35]:
bag['pens'] = 3.0

In [36]:
bag

{'money': 1000, 'lipstick': 'pink', 'pens': 3.0}

In [33]:
bag['pens']

3

In [37]:
bag1 = dict(name ='swatesh')

In [38]:
bag1

{'name': 'swatesh'}

In [39]:
bag = {'minibag' : {'money': 1000 , 'goldearing': 2},
     ' pens' : 3}                                        #dict can have dict as the value also list and any other

In [40]:
bag

{'minibag': {'money': 1000, 'goldearing': 2}, ' pens': 3}

In [41]:
bag['minibag']['money']

1000

In [46]:
'money' in bag

False

In [47]:
'minibag' in bag

True

In [48]:
keys = bag.keys()

In [49]:
keys

dict_keys(['minibag', ' pens'])

In [31]:
# creating dict

shelf = dict()
shelf['no of books'] = 3
shelf['practicles notebooks'] = 4
shelf['note books']  = 5
shelf

{'no of books': 3, 'practicles notebooks': 4, 'note books': 5}

In [3]:
# simple script for frequency counting of words in a string

string = 'swatesh and numesh and swaraj are going to the market. swaraj wants to buy banana. hitesh and numesh want to meet in market and swatesh dont have money to buy anything'
string = string.replace('.', '')
list1 = string.split()
list1

fq = {}


for word in list1:
    if word in fq:
        fq[word] = fq[word] + 1
    else:
        fq[word] = 1  
fq

{'swatesh': 2,
 'and': 4,
 'numesh': 2,
 'swaraj': 2,
 'are': 1,
 'going': 1,
 'to': 4,
 'the': 1,
 'market': 2,
 'wants': 1,
 'buy': 2,
 'banana': 1,
 'hitesh': 1,
 'want': 1,
 'meet': 1,
 'in': 1,
 'dont': 1,
 'have': 1,
 'money': 1,
 'anything': 1}

In [43]:
fq.get('and', 0)

4

In [33]:
# counting using dict comprehension or get method
string = 'swatesh and numesh and swaraj are going to the market. swaraj wants to buy banana. hitesh and numesh want to meet in market and swatesh dont have money to buy anything'
string = string.replace('.', '')
list1 = string.split()


fq = dict()

for word in list1:
    fq[word]  = fq.get(word,0) +1
fq

{'swatesh': 2,
 'and': 4,
 'numesh': 2,
 'swaraj': 2,
 'are': 1,
 'going': 1,
 'to': 4,
 'the': 1,
 'market': 2,
 'wants': 1,
 'buy': 2,
 'banana': 1,
 'hitesh': 1,
 'want': 1,
 'meet': 1,
 'in': 1,
 'dont': 1,
 'have': 1,
 'money': 1,
 'anything': 1}

In [40]:
names = {'swatesh' : 'good boy', 'swaraj' : 'the lazy one' , 'hitesh' : 'dust one'}

for key in names:
    print(key,names[key])

swatesh good boy
swaraj the lazy one
hitesh dust one

In [41]:
# getting the lis of keys and values
print(list(names))

['swatesh', 'swaraj', 'hitesh']

In [42]:
print(names.keys())

dict_keys(['swatesh', 'swaraj', 'hitesh'])

In [43]:
print(names.values())

dict_values(['good boy', 'the lazy one', 'dust one'])

In [44]:
print(names.items())

dict_items([('swatesh', 'good boy'), ('swaraj', 'the lazy one'), ('hitesh', 'dust one')])

In [45]:
# traversing the dict using two iteration variables
for a , b in names.items():
    print(a , b)

swatesh good boy
swaraj the lazy one
hitesh dust one

# Tuples

Tuples are just like list but are immutable you can not modify a tuple once created

In [50]:
t = (1,2,3,4)

In [51]:
t

(1, 2, 3, 4)

In [2]:
tup = 1,2,3
tup

(1, 2, 3)

In [41]:
(x,y)= (4,5)
x

4

In [42]:
y

5

In [43]:
(0,1,2) < (5,1,3)

True

type specific methods

In [52]:
t.index(4)

3

In [53]:
t.count(4)

1

In [12]:
t = (1,2,3)+(4,5,6)

In [13]:
t

(1, 2, 3, 4, 5, 6)

In [14]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

tuples are used for integrity purposes

dig about set

# Sets

sets are unorderd and immutable and properties similar to that of mathematical set theory

In [15]:
x = set('swaaatesh')
x

{'a', 'e', 'h', 's', 't', 'w'}

In [7]:
y = set('swaraj')
y

{'a', 'j', 'r', 's', 'w'}

In [8]:
x-y

{'e', 'h', 't'}

In [10]:
x | y

{'a', 'e', 'h', 'j', 'r', 's', 't', 'w'}

In [11]:
x & y

{'a', 's', 'w'}

In [12]:
x ^ y

{'e', 'h', 'j', 'r', 't'}

x > y

In [14]:
'e' in x

True

In [15]:
x.add('z')

In [55]:
x

{3, 4}

In [62]:
for i in x: print(i) # are iterable

t
s
w
a
e
h

In [17]:
x = set([3,4])

In [18]:
x

{3, 4}

we cant add list and dict in sets but tuples can be added to the sets

In [22]:
# set compreshesion

x = {x for x in 'spam'}

In [23]:
x

{'a', 'm', 'p', 's'}

# boolean

True and False are internally int type but as a new bool object

In [44]:
True and False

False